
#root {
    display: flex;
    justify-content: center;
}

.board-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 200px;
    
    /* height: 200px; */
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0%;
    width: 200px;
    list-style: none;
    
}

.tile {
    border-style: inset;
    border-style: outset;
    width: 70px;
    height: 70px;
    padding:0;
    background-color: rgb(196, 196, 196);
}
