
<h1>SIGN UP!!!!!!</h1>

<form action="<%= users_url %>" method="POST">

<label for="email">Enter Email!</label>
<input type="text" id="email" name="user[email]" value="<%= @user.email %>">

<label for="password">Enter PASSWORD!</label>
<input type="text" id="password" name="user[password]" value="">







</form>